/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Marvel", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --primary-color: #000000;
    /* White */
}

body {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1 {
    font-family: var(--primary-font);
}