/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables for global styles */
:root {
    --primary-font: "Marvel", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --primary-color: #ffffff;
    /* White */
    --clr-dark: #000000;
    /* Black */
    --clr-primary: #240c44;
    --button-color: #240c44;
    /* Default button colour is purple */
    --btn-border-radius: 10px;
}

/* CSS Variables for global styles */
#navbar {
    background-color: var(--clr-primary);
}

/* Header */
header {
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

body {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    background-color: var(--clr-dark);
}

/* Position image in homepage */
.img {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    position: fixed;
}