/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS Variables for global styles */
:root {
    --primary-font: "Marvel", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --primary-color: #ffffff;
    --clr-dark: #000000;
    --clr-primary: #240c44;
    --button-color: #240c44; /* Default button colour is purple */
}

/* CSS Variables for global styles */
#navbar {
    background-color: var(--clr-primary);
}

body {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    background-color: var(--clr-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font family: var(--secondary-font);
}

/* Header */
header {
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Main content */
main {
    background-color: var(--clr-dark);
    flex: 1 0 auto; /* Main element takes up space to push footer down */
}

#menu {
    fontsize: 100%;
    letter-spacing: 2px;
    color: var(--primary-color)
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid var(--primary-color);
}

/* Position image in homepage */
.img {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}